:root {
  height: 100vh;
  max-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: "Montserrat";
  src:local("Montserrat-Regular"),
  url('./assets/fonts/Montserrat-Regular.ttf') 
}
